@import "src/variable.scss";
.search {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 24px;
}
.input-search {
  display: flex;
  align-items: center;
  padding: 15px 36px;
  background-color: #fff;
  border-radius: 7px;
  width: 100%;
  margin-right: 16px;
  &__text {
    height: 16px;
    width: 100%;
    margin-left: 18px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 150%;
  }
}

.btn-filter {
  display: flex;
  align-items: center;
  padding: 12px 20px ;
  box-shadow: 0px 0px 10px #EEEEEE;
  border-radius: 7px;
  background-color: #fff;
  span {
    margin-left: 9px;
    font-size: 16px;
    line-height: 24px;
    flex: none;
    margin: 0px 6px;
    color: $primary-color;
  }
}