.evaluation-criteria {
  &_content {
    margin-bottom: 16px;
    &-title {
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;
      color: #2C6FCF;
      margin-left: 30px;
      margin-bottom: 12px;
    }
  }
}