.history {
  background-color: #fff;
  &_label {
    margin-left: 25px;
  }
  &_content {
    padding: 0 20px 10px;
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
      .history_left {
        display: flex;
        align-items: center;
        column-gap: 16px;
        &-icon {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          border: 2px solid #3F8CFF;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #3F8CFF;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          &::before {
            content: "";
            width: 1px;
            height: 64px;
            background-color: #eee;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -66px);
          }
        }
        &_content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          &-title, &-sub {
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: #4B4B4B;
          }
          &-sub {
            font-weight: 300;
          }
        }
      }
      &:first-child .history_left-icon::before {
        opacity: 0;
      }
    }
  }
  
}