@import "src/variable.scss";
.block-table {
  width: 100%;
  background-color: #fff;
  border-radius: 7px;
  .table-top {
    display: flex;
    justify-content: space-between;
    padding: 32px 29px;
    &_result {
      width: 100%;
      max-width: 145px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: $primary-color;
    }
    &_paging {
      display: flex;
      align-items: center;
      .pagination {
        display: flex;
        align-items: center;
        margin-right: 24px;
        .page-item {
          [disabled] {
            color: #d7d7d7 !important;
          }
          &:first-child {
            margin-right: 17px;
            // 
          }
          &:last-child {
            margin-left: 17px;
          }
          .page-link {
            border: unset;
            font-weight: 700;
            font-size: 1.3rem;
            line-height: 150%;
            border-radius: 7px;
            text-align: center;
            letter-spacing: 0.2px;
            padding: 8px 12px;
            margin-right: 8px;
            color: #28293D;
            &.active, &:hover {
              color: #fff;
              background: #3F8CFF;
            }
          }
        }
      }
      .dropdown {
        button {
          padding: 8px 12px;
          border-radius: 7px;
          font-weight: 500;
          font-size: 13px;
          line-height: 16px;
        }
        span {
          margin-right: 14px;
        }
      }
      .label-paging {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        margin-left: 8px; 
      }
    }
  }
  
}

.table {
  width: 100%;
  &>thead {
    background-color: rgba(245, 245, 250, 0.4);
    th {
      font-weight: 700;
      font-size: 1.3rem;
      line-height: 1.6rem;
      padding: 16px 0px;
      // transform: translateX(20px);
      position: relative;
      text-align: start;
      padding: 16px 0px 16px 20px;
    }
  }
  &>tbody {
    td {
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      padding: 16px 0px 16px 20px;
      div:first-child {
        margin-bottom: 5px;
      }
      .item-img {
        float: left;
        margin-right: 12px;
      }
      .label {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        max-width: 300px;
        &-link {
          cursor: pointer;
          font-weight: 700;
          text-decoration: underline;
          color: $primary-color;
        }
        &-sub-text {
          color: #979797;
        }
        &-icon {
          margin-top: 10px;
          cursor: pointer;
        }
        &-default {
          font-weight: 400;
          font-size: 1.3rem;
          line-height: 1.6rem;
          color: #4F4F4F;
        }
        &-status {
          border-radius: 7px;
          text-align: center;
          padding: 4px 8px;
          &-inprogess {
            color: #35455C;
            background: linear-gradient(0deg, #F2F4F6, #F2F4F6), #FFFFFF;
          }
          &-close {
            color: #3F8CFF;
            background: #EFF2FE;
          }
          &-open {
            color: #F48015;
            background: linear-gradient(0deg, rgba(249, 181, 158, 0.3), rgba(249, 181, 158, 0.3)), #FFFFFF;
          }
          &-success {
            color: #05784F;
            background: rgba(46, 212, 122, 0.1);
          }
        }
      }
      
    }
  }

}